<!-- ▼▼▼ フッター ▼▼▼ -->
<footer class="footer">
    <div class="container content">
        <p class="buttons is-centered">
            <a href="#" class="button is-medium">
                <span class="icon">
                    <i class="fab fa-facebook-f"></i>
                </span>
            </a>
            <a href="#" class="button is-medium">
                <span class="icon">
                    <i class="fab fa-twitter"></i>
                </span>
            </a>
            <a href="#" class="button is-medium">
                <span class="icon">
                    <i class="fab fa-instagram"></i>
                </span>
            </a>
        </p>
        <p class="has-text-centered">Copyright ©XXXXX. All Rights Reserved.</p>
    </div>
</footer>
<!-- ▲▲▲ フッター ▲▲▲ -->
