<!-- ▼▼▼ 読み込みファイル（共通） ▼▼▼ -->
{# <link rel="stylesheet" href="/{{ CONSTANTS.SITE_ROOT }}css/style.css"> #}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
<!-- ▲▲▲ 読み込みファイル（共通） ▲▲▲ -->
