<!-- ▼▼▼ OGP ▼▼▼ -->
<meta property="og:locale" content="ja_JP">
<meta property="og:title" content="{{ PAGE_DATA.TITLE }}">
<meta property="og:type" content="article">
<meta property="og:url" content="{{ CONSTANTS.DOMAIN }}{{ CONSTANTS.SITE_ROOT }}{{ PAGE_DATA.PATH }}">
<meta property="og:site_name" content="{{ CONSTANTS.SITE_NAME }}">
<meta property="og:image" content="{{ CONSTANTS.OG_IMAGE }}">
<meta property="og:description" content="{{ PAGE_DATA.DESCRIPTION }}">
<!-- ▲▲▲ OGP ▲▲▲ -->
